* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/*
.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center; // this property only work on main axis
}
*/

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: column;
    //flex-flow: row;
    //justify-content: flex-start;
    //justify-content: center;
    //justify-content: flex-end;
    //justify-content: space-around;
    //justify-content: space-between;
    align-items: center;
    //align-items: flex-end;
    height: 800px;
}

.box {
    //height: 100px;
    width: 100px;
    flex: 0 0 100px;
}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;
}

.four {
    background: pink;
}

.item1 {
    background: red;
}

.item2 {
    background: blue;
}

.item3 {
    background: green;
}